.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9fc;

  .messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .message {
      display: flex;
      flex-direction: row;
      padding: 12px 24px;
      background: #F4F4F4;
      border-bottom: 1px solid #999;

      &.mine {
        background: #F9FAFB;
      }

      .message-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 12px;
        max-width: 100%;
        width: 100%;

        &.mine {
          flex-direction: row-reverse;
        }

        .info {
          display: flex;
          justify-content: flex-start;
          flex-direction: row;
          gap: 12px;

          &.mine {
            flex-direction: row-reverse;
          }

          .message-text {
            word-wrap: break-word;
            word-break: break-word;
            overflow-wrap: break-word;
          }

          .user {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;

            .avatar {
              width: 40px;
              height: 40px;
              border-radius: 8px;
            }
          }
        }

        .message-actions {
          margin-top: 8px;
          display: flex;
          gap: 8px;
        }
      }
    }
  }
}
